body{
    font-family: 'Rubik Puddles', cursive;
    font-weight: 100;
    background-image: linear-gradient(rgb(219, 212, 194), rgb(172, 168, 158));
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}
#title{
    font-size: 4rem;
    text-shadow:3px rgb(31, 150, 110);
    text-align: center;
}
main{
    /* border: 2px solid pink; */
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;

}
canvas{
    background-color: rgb(158, 112, 88);
    justify-content: center;

}
#hud{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex;
    flex-direction: row;

    justify-content: space-between;
}
#grime {
    /* flex: 1 1 auto; */

}




#rat{
    display: none;
}
#water{
    display: none;
}

